global
    #debug
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    pidfile /var/run/haproxy.pid

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base /etc/ssl/private

    # Default ciphers to use on SSL-enabled listening sockets.
    ssl-default-bind-options   no-sslv3 no-tls-tickets force-tlsv12
    ssl-default-bind-ciphers   ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:ECDH+3DES:DH+3DES:RSA+AESGCM:RSA+AES:RSA+3DES:!aNULL:!MD5:!DSS

    spread-checks 4
    tune.maxrewrite 1024
    tune.ssl.default-dh-param 2048

defaults
    mode    http
    balance roundrobin

    option  dontlognull
    option  dontlog-normal
    option  redispatch

    maxconn 500
    timeout connect 5s
    timeout client  20s
    timeout server  20s
    timeout queue   30s
    timeout http-request 5s
    timeout http-keep-alive 15s

frontend http
    bind *:8080
    redirect scheme https if !{ ssl_fc }

frontend https
	bind *:8443 ssl crt /etc/certs/haproxy.pem
	acl host_docker hdr(host) -i docker.mycompany.com
	reqadd X-Forwarded-Port:\ 8443
	reqadd X-Forwarded-Proto:\ https
	reqadd X-Forwarded-Scheme:\ https
	use_backend docker if host_docker

backend docker
	reqadd X-Forwarded-Host:\ loki
	server docker localhost:3100
